@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Montserrat";
}

img {
    width: 100%;
}

nav {
    width: 500px;
}

.app-container {
    width: 500px;
    height: 500px;
    background-color: #4c4c4c;
}

.card-container {
    height: 100%;
}

form > input,
form > button,
nav > button {
    background-color: #4c4c4c;
}

.search-icon {
    background-color: transparent;
    color: white;
}

::-webkit-scrollbar {
    width: 10px; /* set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #ccc; /* set the color of the thumb */
    border-radius: 10px; /* set the border radius of the thumb */
}

/* Set the position of the scrollbar to fixed */
::-webkit-scrollbar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
}
